body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 50px;
    line-height: 35px;
}

span{
    color: orange;
}

.banner{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 10px;
    margin: 60px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 10px;
}


.banner-with{
    display: flex;
    background-image: url(image/shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}
.second-image img{
    width: 70%;
    padding-left: 25%;
    background-size: cover;
}
.second-image{
    width: 40%;
    padding-right: 15%;
    margin: 60px;
}
#self{
    color: gray;
}
#contact-id{
    text-decoration: none;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 10px;
}



.about-recipi{
    text-align: center;
}
#recepie{
    color: gray;
}



.recipie-title{
    display: flex;
    justify-content: space-around;
}
.recipie1{
    width: 300px;
    border: none solid 5px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 15px 20px grey;
}
.image-width{
    width: 100%;
}


footer{
    background-color: black;
    height: 120px;
    margin-top: 5px;
}
.font{
    text-align: center;
    color: white;
}
#span-color{
    color: gray;
}